* {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	background: #00CE8B;
	margin: 0;
	font-size: 21px;
}

body {
	color: #333;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	line-height: 2.5ch;
}

a {
	color: #06b6c9;
	text-decoration: none;
	font-weight: bold;
	transition-duration: 500ms;
	/* text-shadow: 1px 1px 5px #0004; */
}

a:visited {
	color: #06b6c9;
}

a:hover {
	color: #06b6c9;
	text-decoration: underline;
}

a:active {
	color: #06b6c9;
}

button {
	border: none;
}

.btn {
	border-radius: .2ch;
	padding: .5ch 1ch;

	background-color: #00CE8B;
	color: #333;
	text-align: center;
	text-decoration: none;

	font-weight: bold;

	border-bottom: solid 3px #079f5d;

	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);

	transition-duration: 500ms;
}

.btn:visited {
	color: #333;
}

.btn.circle {
	padding: 0;
	border-radius: 50%;
	
	width: 8ch;
	height: 8ch;
	line-height: 8ch;
}

.btn:hover {
	text-decoration: none;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.69);
	border-bottom: solid 3px #00CE8B;
}

main {
	width: 100%;
	box-shadow: -2px 4px 15px 0px #0000004f;
}

h1 {
	color: #06b6c9;
	text-transform: uppercase;
	font-size: 4em;
	line-height: 1em;
	font-weight: 300;
}

.file-upload {
	margin-top: 1rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.error-message {
	background: #f7acac;
	padding: 0.5rem;
	border-radius: 0.3rem;
	white-space: pre;
}

@media (max-width: 740px) {
	body {
		font-size: 15px;
	}
}main.svelte-10749df.svelte-10749df{background-color:aliceblue}h1.svelte-10749df.svelte-10749df{margin-left:1rem;margin-right:1rem}.landing.svelte-10749df.svelte-10749df{display:flex;align-items:center;text-align:center;height:100vh}.left.svelte-10749df.svelte-10749df{height:100%;width:60%;z-index:0}.left.svelte-10749df .top.svelte-10749df{height:50%;background-color:#333;display:flex;align-items:flex-end;justify-content:center;box-shadow:8px 2px 9px 5px #0000004f}.left.svelte-10749df .bottom.svelte-10749df{height:50%;display:flex;flex-direction:column;text-align:center;justify-content:space-between}.left.svelte-10749df .bottom .content.svelte-10749df{padding:1rem}.left.svelte-10749df .bottom p.svelte-10749df{flex-grow:1}.left.svelte-10749df .bottom .made-with-love.svelte-10749df{padding:21px;justify-self:flex-end;color:#00ce8b;background-color:#333}.with-image.svelte-10749df.svelte-10749df{background-image:url("https://thumbnails.production.thenounproject.com/CkamvsO4nEz_j8-0XZDBd0wI1kQ=/fit-in/1000x1000/photos.production.thenounproject.com/photos/00D0F1B0-B634-4ACB-A0D6-75E5B7BAF1E5.jpg");background-repeat:no-repeat;background-size:cover;background-position:center;display:flex}.right.svelte-10749df.svelte-10749df{height:100%;width:40%;align-items:center;justify-content:center;z-index:100}.small-image.svelte-10749df.svelte-10749df{display:none}@media(max-width: 740px){.left.svelte-10749df.svelte-10749df{width:100%}.right.svelte-10749df.svelte-10749df{display:none}.small-image.svelte-10749df.svelte-10749df{display:flex;height:100%;width:100%;align-items:center;justify-content:center}}main.svelte-1fe8bzf{width:80%;margin:auto;background-color:aliceblue;min-height:100%;padding:1rem}main.svelte-wnnmyz.svelte-wnnmyz{width:80%;margin:auto;background-color:aliceblue;min-height:100%;padding:1rem}tr.svelte-wnnmyz th.svelte-wnnmyz,tr.svelte-wnnmyz td.svelte-wnnmyz{border:black 1px solid;padding:0.5rem}ul.svelte-wnnmyz.svelte-wnnmyz,ol.svelte-wnnmyz.svelte-wnnmyz{margin-top:0.5rem}ul.svelte-wnnmyz.svelte-wnnmyz,ol.svelte-wnnmyz.svelte-wnnmyz,li.svelte-wnnmyz.svelte-wnnmyz{margin-bottom:0.5rem}.text.svelte-1q164p5{padding:0 0.5rem;font-size:small;font-weight:300}.bar.svelte-1q164p5{background-color:#00ce8b;height:1rem;line-height:1rem;text-align:center}.progress.svelte-1q164p5{width:100%;height:1rem;box-shadow:inset 0 0 10px 1px #3333;overflow:hidden;border-radius:0.3rem}